@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

body {
  background: steelblue;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

.title {
  font-family: 'Montserrat';
  margin: 5%;
  font-size: 4em;
}

.chp-title {
  font-family: 'Montserrat';
}

.line {
  font-family: 'Open Sans';
}

.clear {
  margin-bottom: 8%;
}
