@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
  min-height: 100vh;
  font-family: 'Amatic SC';
  background: linear-gradient( darkgreen, steelblue, slategray, grey);
  background-blend-mode: multiply;
  background-size: cover;
  text-align: center;
  color: white;
}

.heading {
  font-size: 7em;
}

.text {
  font-size: 2em;
  margin: 20px;
}

img {
  margin: 5%;
}