* {
  box-sizing: border-box;
}

body {
  animation             : 1.7s ease 0s 1 slideInFromLeft;
  background            : linear-gradient(135deg, black, grey 60%, darkgreen);
  background-blend-mode : multiply;
  background-size       : cover;
  color                 : lightgrey;
  font-family           : 'Amatic SC';
  font-size             : 56px;
  text-align            : center;
}

section {
  padding-bottom: 150px;
}

.belief {
  margin      : 50px auto;
  text-align  : center;
  color       : #FFF;
}

h1 {
  margin: 30px;
}


/*
  @keyframes slideInFromLeft {
    0% { transform: translateX(-100%) }
    100% { transform: translateX(0) }
  }
*/
