.component-app {
  margin: 20px auto;
  height: 500px;
  width: 650px;
  position: relative;
}

.button {
  margin: 5px;
  width: 35px;
}

.calculator {
  padding-top: 120px;
  width: 400px;
  margin: auto;
}

.search {
  height: 33.57px;
  margin: 5px 0 0 -12px;
  width: 120px;
  border-radius: 5px;
  text-align: right;
}